$blue_is: #0035b9;
$blue_jr: #0087bf;
$golden_jr: #f1d460;

main {
    .Home {
        width: 300px;
        aspect-ratio: 1/1.2;

        h1 {
            font-size: 1em;

        }

        
    }   
}